core:
  nodeSelector:
    kubernetes.io/arch: amd64

jobservice:
  nodeSelector:
    kubernetes.io/arch: amd64

registry:
  nodeSelector:
    kubernetes.io/arch: amd64

portal:
  nodeSelector:
    kubernetes.io/arch: amd64